<table class="table table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Job title</th>
        <th>Min salary</th>
        <th>Max salary</th>

        <!--<th class="col-lg-6 text-center">Hire Date</th>-->
        <!--<th>Job</th>-->
        <!--<th>Salary</th>-->
        <!--<th>Commission</th>-->
        <!--<th class="col-lg-2 text-center">Manager</th>-->
        <!--<th>Department</th>-->
        <th class="col-lg-3 text-center">Actions</th>
    </tr>
    <tr ng-repeat="job in jobs">
        <td class="text-center">
            {{job.jobId}}
        </td>
        <td class="text-center">
            {{job.jobTitle}}
        </td>
        <td class="text-center">
            {{job.minSalary}}
        </td>
        <td class="text-center">
            {{job.maxSalary}}
        </td>
        <!--<td class="text-center">-->
            <!--{{employee.phoneNumber}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.hireDate | date: 'dd-MM-yyyy'}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.jobId.jobTitle}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.salary}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.commissionPct}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.managerId.firstName}} {{employee.managerId.lastName}}-->
        <!--</td>-->
        <!--<td class="text-center">-->
            <!--{{employee.departmentId.departmentName}}-->
        <!--</td>-->
        <td class="text-center">
            <button type="button" class="btn btn-link" ng-click="viewJob(job.jobId)">View</button>
            <!-- TODO #HR6 -->
            <button type="button" class="btn btn-link" ng-click="editJob(job.jobId)">Edit</button>
            <button type="button" class="btn btn-link" ng-click="deleteJob(job.jobId)">Delete</button>

        </td>
    </tr>
</table>
