<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div ng-controller="UserController">



     <p>First Name : <input type = "text" ng-model = "firstName"></p>
     <!--<p>{{firstName}}</p>-->
     <p>Last Name : <input type = "text" ng-model = "lastName"></p>
     <p >ID : <input type = "text" ng-model = "id"></p>
     <p>CNP : <input type = "text" ng-model = "cnp"> </p>
     <p>Age : <input type = "number" ng-model = "age"> </p>

     <div>
         <a class = "btn btn-primary" role = "button" ng-click = "back()"> Back </a>
         <a class = "btn btn-primary" role = "button" ng-click = "reset()"> Reset </a>
         <a class = "btn btn-primary" role = "button" ng-click = "saveUsers()"> Save </a>
     </div>

 </div>

</body>
</html>